<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="jasmine_plugin.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="jasmine_plugin.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="JASmine_Plugin.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="JASmine_Plugin.sampleNature.category">
      </category>
      <command
            name="%command.name"
            defaultHandler="jasmine_plugin.builder.AddRemoveSampleNatureHandler"
            categoryId="JASmine_Plugin.sampleNature.category"
            id="JASmine_Plugin.addRemoveSampleNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="JASmine_Plugin.addRemoveSampleNature"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="JASmine_Plugin.sampleNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="JASmine_Plugin.addRemoveSampleNature"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="JASmine_Plugin.sampleNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="JASmine Plugin.category"
            name="%category.name.0">
      </category>
      <wizard
            category="JASmine Plugin.category"
            class="jasmine.wizard.JASmineWizard"
            icon="icons/JAS-mineLOGO16.gif"
            id="JASmine Plugin.wizard2"
            name="%wizard.name">
      </wizard>
   </extension>

</plugin>
